streamlit==1.20.0
pandas==1.3.4
moviepy==1.0.3
requests==2.26.0
tenacity==8.2.2
pydub==0.25.1
streamlit==1.20.0
PyPDF2==3.0.1
openai==0.27.2
transformers==4.27.1
tiktoken==0.3.1
git+https://github.com/ehsanbehdad/Pytube
matplotlib==3.5.3
pandas==1.4.4
plotly==5.5.0
scikit-learn==1.2.2
scipy==1.10.1
bs4
streamlit-chat
